.box{
    text-align: center;
}

.but{
    /* margin-left: 45px; */
}

.cardM{
    padding-bottom: 60px;
    
}

.ton{
    margin: 45px;
    padding: 9px 15px 9px 15px;
    color: white;
    background-color: rgba(15, 58, 121, 1);
}

.space{
    padding-top: 9px;
}

.cardN{
    color: white;
    background-color: blue;
}

.backg{
    background-color: rgb(228, 232, 250);
}

.text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
    