@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ruluko&display=swap');

.box{
    text-align: center;
    
}

.space{
    padding-top: 9px;
    
}

.but{
    margin-left: 45px;
    /* box-shadow: 5px 10px rgb(0, 0, 0); */
    
}

.cardM{
    padding-bottom: 80px;
    
}

.ton{
    margin: 45px;
    padding: 9px 15px 9px 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(15, 58, 121, 1);
}

.backg{
    background-color: rgb(228, 232, 250);
}

.shadow{
    box-shadow: 2   px 4px rgb(255, 255, 255);
    
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  }