@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ruluko&display=swap');

.box{
    text-align: center;
    
}

.space{
    padding-top: 9px;
    
}

.but{
    /* margin-left: 45px; */
    /* box-shadow: 5px 10px rgb(0, 0, 0); */
    
}

.cardM{
    padding-bottom: 80px;
    
}


.ton{
    margin: 45px;
    padding: 9px 15px 9px 15px;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgba(15, 58, 121, 1);
    border-radius: 5px;
}

.backg{
    background-color: rgb(228, 232, 250);
}

.shadow{
    border: 1px solid;
    box-shadow: 3px 3px  black;
    
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  }

  .ukuran{
      height: 400px;
  }