.judul{
    align-items: center;
    text-align: center;
}

.content{
    align-items: right;
    
}

.text1{
    font-weight: 500;
    padding-top: 10px;
    font-size: 35px;
}
.text2{
    font-weight: 500;
    font-size: 25px;
}



/* .Gambar{
    border-radius: 5%;
    imga
} */