@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ruluko&display=swap');

.bg{
    background-color: rgba(15, 58, 121, 1);
}

.text1{
    color: white;
}

.space{
    padding-top: 11px;
}
.space1{
    padding-bottom: 11px;
}

.space2{
    padding-bottom: 11px;
    align-items: center;
    text-align: center;
}

.text3{
    color: white;
    padding-top: 15px;
    text-align: right;
    /* font-family: 'ruloko', sans-serif; */
    
}