@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
nav {
  font-family: "Roboto", sans-serif;
}

.navb-logo {
  margin-left: 15px;
}

.navb-item {
  margin-left: 15px;
}
.navb-logo {
  margin-left: 30px;
}

.navb-item {
  margin-left: 30px;
}

.active {
  color: #e4640f !important;
}

.nav-link:hover {
  color: #e4640f !important;
}
@media only screen and (min-width: 720px) {
  .navb-logo {
    margin-left: 30px;
  }

  .navb-item {
    margin-left: 30px;
  }

  .active {
    color: #e4640f !important;
  }

  .nav-link:hover {
    color: #e4640f !important;
  }
}