@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ruluko&display=swap');


.back{
    background-color: rgb(6, 1, 32);
    padding-bottom: 200px;
   
    
}

.space{
    /* text-align: center;
    align-items: center; */
    color: white;
    border-style: solid;
    border-color: white;
    padding-bottom: 50px;
    padding-top: 30px;
    /* box-shadow: 5px 10px; */
    box-shadow: 2px 5px 2px 5px rgb(212, 212, 212);

}


.text{
    font-family: 'roboto', sans-serif;
    color: white;
    padding-top: 100px;
    
    
}

.text1{
    font-family: 'roboto', sans-serif;
    color: white;
}

.mid{
    text-align: center;
    align-items: center;
}

.border{
    margin-top: ;
   
}
/* .text2{
    font-family: 'roboto', sans-serif;
    color: white;
    text-align: center;
    padding-top : 120px;
}

.tengah{
    text-align: center;
}

.Mkanan{ */
    /* margin-right: 55px; */
    /* padding-right: 211px;
} */ 

/* .background{
    background-color: ;
} */