.header {
    background-color: white;
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.21);
}

.text1{
    margin-left: 15px;
    padding-bottom: 15px;
}

.done {
    text-decoration: line-through;
    padding: 10px;
    border: 1px solid black;
    width: 250px;;
    border-radius: 20px;
    margin: 10px 0px;
}

.undone {
    /* text-decoration: line-through; */
    padding: 10px;
    border: 1px solid black;
    width: 250px;
    border-radius: 20px;
    color: white;
}

.selesai{
    text-decoration: line-through;
    color: white;
}